/* Stylesheets for the Index page */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Lato:wght@700&display=swap');

a.bordered {
    color: #334456;
    position: relative;
    height: 72px;
    padding: 0 10px 0 100px;
    line-height: 70px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
}

.img-mode-icon {
    left: 8px;
    bottom: 0;
    height: 90px;
    position: absolute;
}

.bottom-icon-container {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.bottom-icon-container div {
    padding: 0 10px;
}

.bottom-icon-container div a {
    text-decoration: none;
}

.bottom-icon-container > div:nth-child(2) a img {
    margin: 0 0.15rem;
}

.bottom-icon-container > div:nth-child(2) {
    border-left: 2px solid  #344054;
    border-right: 2px solid #344054;
}

.img-bottom-icon {
    height: 1.7rem;
    object-fit: fill;
}

.label-bottom {
    color: #334456;
    margin: 0 0 0 0.1rem;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 700;
}

.netlogo-icon {
    height: 100%;
}