/* Stylesheets for the Index page */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Lato:wght@700&display=swap');

a.bordered {
    color: #334456;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
}

.img-mode-icon {
    margin: 0 1vw;
    height: 72px;
    max-height: 14vh;
}

.img-bottom-icon {
    height: 24px;
    object-fit: fill;
}

.label-bottom {
    color: #334456;
    margin: 0 0 0 0.1rem;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 700;
}