@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Lato, sans-serif;
    background-color: transparent;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* To create the space between the bottom and button*/
.spacer {
    min-height: 15px;
    flex-grow: 1;
}

.inner-text {
    width: 100%;
    height: 100%;
    line-height: 1.5;
    color: var(--textSecondary, #344054);
}
.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    height: 40px;
    width: 67.5%;
    margin-left: auto;
    margin-right: auto;
}

.lm-button {
    border-radius: 5px;
    border: 1.5px solid var(--h1, #334456);
    background: var(--h1, #334456);
    width: 100%;
    height: 40px;
    cursor: pointer;
    color: #FFFF;
    font-family: Lato;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.78125rem;
}

.download-container {
    display: flex;
    flex-direction: column;
    gap: 0.63rem;
    margin-bottom: 10%;
}

.download-btn {
    border-radius: 1rem;
    border: 1.5px solid var(--textSecondary, #344054);
    background: var(--offWhite, #FCFCFD);
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.download-btn-right {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.download-icon {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
}

.card {
    border: none;
}

.subscribe-container {
    border: none;
    display: flex;
    flex-direction: row;
}

.subscribe-button {
    height: 2.75rem;
    flex: 1 1; 
    color: var(--offWhite, #FCFCFD);
    background-color: #344054;  
    border-radius: 0.3125rem;
    border: 1.5px solid #334456;
    text-align: center;
    font-family: Lato;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; 
}

#subscribe-input {
    border: none;
}

#subscribe-input:focus {
    outline: none;
}

.bordered {
    border: 2px solid #334456;
    border-radius: 10px;
    box-shadow: #334456 3px 3px 0;
    background: #ffffff;
    transition: 0.3s ease;
}

button.bordered {
    width: 100%;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
}

button.bordered:hover {
    background: #f5f5f5;
}

