#learn-header {
    padding-top: 6.26%;
}

.learn-more-container {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.learn-box {
    display: flex;
    flex-direction: column;
}

.learn-more-card {
    width: 100%;
    height: 30%;
}