/* General Stylesheets for Model Pages */
/* Model Container & Intro */
.container {
  position: relative;
}

.model-container {
  width: 100%;
  height: calc(100% - 55px);
  padding: 0;
  margin: 0;
  border: solid 2px #344054;
  border-radius: 0.5rem;
  overflow: hidden;
}

.model-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

div.intro { 
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.intro div.bordered {
  padding: 20px 12px;
  overflow: hidden;
  flex-grow: 1;
}

div.intro .img-top-fixed {
    width: 100%;
    aspect-ratio: 1/1;
    max-height: calc(100% - 150px);
    object-fit: contain;
    border-radius: 1rem;
}

.onboarding-title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0.5rem;
  color: #334456;
}

.onboarding-descript {
  font-size: 1rem;
  width: 100%;
  line-height: 1.5;
  color: #101828;
}

.text-start a {
  color: #101828;
  font-size: 1.25em;
  font-weight: 700;
  text-decoration: none;
}

.text-start a i {
  margin-right: 0.5rem;
}

/* Controlling Widgets */
.control-widget-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  height: 110px;
  border: 2px solid #344054;
  border-radius: 0.5rem;
  background: #fcfafff0;
  padding: 10px 20px;
  z-index: 1;
  display: flex;
  gap: 20px;
  align-items: center;
}

.density-label {
  color: #101828;
  font-size: 1.2em;
  font-weight: 800;
}

.tooltip-label {
  color: #101828;
  font-size: 0.9em;
  font-style: italic;
}

.running-model-stats {
  flex: 1 0;
  display: flex;
  height: 55px;
  padding: 0 10px;
  line-height: 1.3;
  border: 1.5px solid #344054;
  border-radius: 0.3rem;
  align-items: center;
  justify-content: center;
}

.running-model-stats-icon {
  height: 55.8%;
  aspect-ratio: 1/1;
}

.stats-val-container {
  color: #fcfcfd;
  margin: 0 0 0 5px;
  display: flex;
  flex-direction: column;
}

.stats-val-top-text {
  font-size: 0.7em;
}

.stats-val-bottom-text {
  font-size: 1em;
  font-weight: 700;
}

.run-stats-val-top-text {
  font-size: 0.7em;
}

.run-stats-val-bottom-text {
  font-size: 1em;
  font-weight: 700;
}

.play-container {
  height: 100%;
  aspect-ratio: 1/1;
  border: 1.5px solid #334456;
  border-radius: 0.5rem;
  background: #6941c6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-container img {
  width: 46%;
  aspect-ratio: 1/1;
}

/* Custom Slider */
input[type='range'].styled-slider {
  width: 100%;
  margin: 10px 0 5px;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
}

/* Progress support for the slider */
input[type='range'].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type='range'].styled-slider:focus {
  outline: none;
}

input[type='range'].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: black url('../assets/icon-density.svg') no-repeat center center;
  background-size: 1.5em 1.5em;
  /* Adjust to your preference */
  border: none;
  box-shadow: 0 0 0.125rem black;
  margin-top: calc(max((2.5svh - 1px - 1px) * 0.5, 0px) - 2em * 0.5);
  cursor: pointer;
}

input[type='range'].styled-slider::-webkit-slider-runnable-track {
  /* REFACTOR HEIGHT */
  height: 2.5svh;
  border: 1px solid #b2b2b2;
  border-radius: 0.8svh;
  border: 1px solid #344054;
  background: #32d583;
  box-shadow: none;
  z-index: 2;
}

/* Blue slider */
input[type='range'].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#32d583, #32d583) 0 / var(--sx) 100% no-repeat,
    #efefef;
}

.slider-label-container {
  flex: 1 0;
  display: flex;
  flex-direction: column;
}

/** Results Container */
.results-container {
  fill: rgba(52, 64, 84, 0.3);
  backdrop-filter: blur(5px);
  height: 100svh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-container.invisible-element {
  display: none;
}

.results-summary-container,
button.results-summary-button {
  width: 80svw;
  max-width: 400px;
}

.results-summary-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  cursor: pointer;
  flex-shrink: 0;
}

.results-summary-container div.results-columns {
  display: flex;
  flex-direction: row;
  gap: 10px;

}

.results-summary-title {
  color: var(--Text, #101828);
  margin-bottom: 6.25%;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

.results-img {
  flex-grow: 1;
}

.results-img img {
  width: 100%;
  height: 100%;
}

.results-stats-container {
  width: 35%;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.results-model-stats {
  min-height: 4.0rem;
  border: 1.5px solid #344054;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-model-stats-icon {
  width: 20%;
  margin: 0 2%;
  pointer-events: none;
}

.results-summary-button {
  padding: 5px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 1.3rem;
}

.results-summary-tip {
  color: #101828;
  font-style: italic;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  font-size: 0.7rem;
}

.window {
  width: 500px; 
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden; 
  overflow-y: hidden;
}

.sliding-window {
  width: 100%;
  gap: 10px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
}

/* Media query for phones */
@media (max-width: 500px) {
  .control-widget-container {
    gap: 10px;
    height: 100px;
    padding: 10px;
    overflow: hidden;
  }

  .density-label {
    font-size: 1.1em;
  }

  .tooltip-label {
    font-size: 0.8em;
  }

  .run-stats-val-bottom-text,
  .stats-val-bottom-text {
    font-size: 0.9em;
  }

  .play-container {
    height: 85%;
  }

  .running-model-stats {
    height: 50px;
  }

  .window {
    width: 100svw;
  }

  .sliding-window {
    margin-left: calc(10svw);
  }
}