/* General Stylesheets for Model Pages */
.container {
  position: relative;
}

.model-container {
  width: 100%;
  height: calc(100% - 55px);
  padding: 0;
  margin: 0;
  border: solid 2px #344054;
  border-radius: 0.5rem;
  overflow: hidden;
}

.model-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

div.intro {
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.card.bordered {
  flex: 1;
  padding: 20px 12px;
}

.control-widget-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  height: 110px;
  border: 2px solid #344054;
  border-radius: 0.5rem;
  background: #fcfafff0;
  padding: 10px 20px;
  z-index: 1;
  display: flex;
  gap: 20px;
  align-items: center;
}

@media (max-width: 720px) {
  .control-widget-container {
    gap: 10px;
    height: 100px;
    padding: 10px;
  }
}

.control-widget-play-container {
  height: 100%;
  aspect-ratio: 1/1;
  border: 1.5px solid #334456;
  border-radius: 0.5rem;
  background: #6941c6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.control-widget-play {
  width: 46%;
  aspect-ratio: 1/1;
}

/* Custom Slider */
input[type='range'].styled-slider {
  width: 100%;
  margin: 10px 0 5px;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
}

/* Progress support for the slider */
input[type='range'].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type='range'].styled-slider:focus {
  outline: none;
}

input[type='range'].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: white url('../assets/ChartPieSlice.svg') no-repeat center center;
  background-size: 1.5em 1.5em; /* Adjust to your preference */
  border: none;
  box-shadow: 0 0 0.125rem black;
  margin-top: calc(max((2.5svh - 1px - 1px) * 0.5, 0px) - 2em * 0.5);
  cursor: pointer;
}

input[type='range'].styled-slider::-webkit-slider-runnable-track {
  /* REFACTOR HEIGHT */
  height: 2.5svh;
  border: 1px solid #b2b2b2;
  border-radius: 0.8svh;
  border: 1px solid #344054;
  background: #32d583;
  box-shadow: none;
  z-index: 2;
}

/* Blue slider */
input[type='range'].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#32d583, #32d583) 0 / var(--sx) 100% no-repeat,
    #efefef;
}

.density-label {
  color: #101828;
  font-size: 1.2em;
  font-weight: 800;
}

.tooltip-label {
  color: #101828;
  font-size: 0.9em;
  font-style: italic;
}

.slider-label-container {
  flex: 1 0;
  display: flex;
  flex-direction: column;
}

