/* General Stylesheets for Model Pages */
.model-container {
    width: 100%;
    height: 100%; 
    padding: 0;
    margin: 0;
    border: solid 2px #344054;
    overflow: hidden; 
}

.model-container iframe {
    width: 100%;
    height: 100%;
    border: none; 
    padding: 0;
    margin: 0;
}

div.intro {
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.card.bordered {
    flex: 1;
    padding: 20px 12px;
}