/* General Stylesheets for Pages */
html, body {
    overflow: hidden;
}

body {
    font-family: Lato, sans-serif;
    background-color: #f5f5f5;
}

.container {
    width: 100svw;
    height: 100svh;
    padding: 30px;
    background-color: #ffffff;
}

.container.my-5 {
    height: calc(100svh - 6rem);
}

@media (max-height: 720px) {
    .container.my-5 {
        margin: 0 !important;
        height: 100svh;
    }
}

.no-padding {
    padding: 0px;
}

/* The bordered style */

.bordered {
    border: 2px solid #334456;
    border-radius: 10px;
    box-shadow: #334456 3px 3px 0;
    background: #ffffff;
    transition: 0.3s ease;
}

div.card.bordered {
    /*height: calc(100vh - 180px); */
    height: 75svh;
    padding: 20px 12px;
}

button.bordered {
    width: 100%;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
}

button.bordered:hover {
    background: #f5f5f5;
}

.onboarding-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-bottom: 2.4%;
    color: #334456;
}

.onboarding-descript {
    font-family: Lato;
    font-size: 1rem;
    width: 100%;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #101828;
}

.img-top-fixed {
    height: 40vh; 
    width: 100%; 
    object-fit: cover; 
    border-radius: 1rem;
}

.invisible-element {
    display: none;
}