/* General Stylesheets for Pages */
html, body {
    overflow: hidden;
}

body {
    font-family: Lato, sans-serif;
    background-color: #f5f5f5;
}

.not-selectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container {
    width: 100svw;
    height: 100svh;
    padding: 30px;
    background-color: #ffffff;
}

.container.my-5 {
    height: calc(100svh - 6rem);
}

@media (max-height: 720px) {
    .container.my-5 {
        margin: 0 !important;
        height: 100svh;
    }
}

.no-padding {
    padding: 0px;
}

/* The bordered style */

.bordered {
    border: 2px solid #334456;
    border-radius: 10px;
    box-shadow: #334456 3px 3px 0;
    background: #ffffff;
    transition: 0.3s ease;
}

button.bordered {
    width: 100%;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
}

button.bordered:hover {
    background: #f5f5f5;
}

.onboarding-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-bottom: 2.4%;
    color: #334456;
}

.onboarding-descript {
    font-family: Lato;
    font-size: 1rem;
    width: 100%;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #101828;
}

.img-top-fixed {
    height: 40vh; 
    width: 100%; 
    object-fit: cover; 
    border-radius: 1rem;
}

.invisible-element {
    display: none;
}

.results-container{
    fill: rgba(52, 64, 84, 0.30);
    backdrop-filter: blur(5px);
    height: 100svh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results-summary-container {
    background-color: #FCFAFF;
    width: 83.3333333333%;
    max-width: 400px;
    height: 50%;
    border: solid 2px #344054;
    border-radius: 4.4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.results-summary-title {
    color: var(--Text, #101828);
    text-align: center;
    font-family: Lato;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 1.8rem */
}


.results-model-stats {
    height: 44.7%;
    width: 44%;
    border: 1.5px solid #344054;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 8.517%;
    margin-left: 25%;
  }
  
  .results-model-stats-icon {
    height: 55.8%;
    aspect-ratio: 1/1;
  }
  
  .stats-val-container {
    padding-left: 8.2%;
    display: flex;
    flex-direction: column;
    color: #FCFCFD;
    padding-top: 5%;
  }
  
  .stats-val-top-text {
    font-size: 1.2svh;
    font-weight: 300;
    line-height: 70%; 
  }
  
  .stats-val-bottom-text {
    font-size: 1.8svh;
    font-weight: 700;
  }

  .results-summary-stats-container {
    display: flex;
    flex-direction: column;
    gap: 9%;
  }